*.a
*.la
*.lo
*.m4
*.o
*.sw[po]
.deps
.libs
example/example
test.conf
Makefile
Makefile.in
Makefile.in
ar-lib
autom4te.cache/*
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
